@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&family=Roboto:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body{
  background-color: black;
}
.card{
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg,#55dbb7, #5a5191);
  color: #fff;
  margin: 100px auto 0;
  border-radius: 20px;
  padding :40px 35px;
  text-align: center; 
 
  
}
.search{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search input{
  
  flex: 1;
  color: #555;
  background: #ebfffc;
  padding:10px 25px;
  height: 60px;
  border: 0;
  outline: 0;
  border-radius: 30px;
  margin-right: 16px;
  font-size: 16px;
}
.search button{
 border: 0;
 outline: 0;
 cursor: pointer;
 border-radius: 50%;
 background: #ebfffc;
 width: 60px;
 height: 60px;
}
.search button img{
  width: 16px;
}
.weather{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  line-height: 1.5;
 
}

.footer{
  padding: 50px 10px 0 10px;
  display: flex;
  justify-content: space-between;
}
.footer .left, .footer .right{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.footer .left img, .footer .right img{
  width:28px;
  margin-right: 6px;
}
.humidity,.wind{
  display: flex;
  flex-direction: column;
  
  align-items: flex-start;
}

.weather,.footer{
  display: none;
}

.error{
  text-align: left;
  margin: 10px 0 0 10px;
  font-size: 14px;
  display: none;
}
